#ad{
    height: 250px;
    max-width: 300px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    line-height: 2;

}

#ad::before {
    height: 250px;
    max-width: 300px;

    content: "";

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-color: rgba(255,255,255,0.55);

    border: 5px solid black;
}

#ad p{
    align-items: center;
    justify-content: center;

    font-family: Arial;
    font-size: 1em;

    position: relative;

    color: black;

    line-height: 0.9;
    text-align: center;

    line-height: 1.1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#telescope{
    font-weight: bold;
}

